.blue-light{
	color: #004F9A;
}
.blue-dark{
	color: #003375; 
}


body{
	font-family: Verdana, Geneva, sans-serif;
	    background: #f8f8f8;
}
h1,h2,h3,h4{
	font-family: Verdana, Geneva, sans-serif;
}

h1,h2,h3{

}

ul{
	margin: 0px;
	padding: 0px;
}
.redbutton{

}

header nav{
	background-color: #0056a3;
}

nav li {
	float: left;
	list-style: none;
	/* padding: 15px 20px; */
}

.clear{
	clear: both;
}

.boka-btn{
	display: block;
	float: right;
	background-color: #043573;
}

.info-section{
	color: #0477e1;
}

.top-header {
    padding: 20px 0px;
}

.top-header img {
    max-width: 250px;
    max-height: 85px;
    display: block;
    float: left;
    padding: 15px 0px;
}

.contact{
	float: left;
	margin-right: 60px;
}

.contact i{
	color: #095197;
}

.contact h4 {
    font-size: 14px;
    font-weight: 200;
}

.bottom-header a{
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding: 25px 15px 25px 15px;
	display: block;
	    letter-spacing: 1.2px;
	    transition: all 0.6s ease;
}

.bottom-header a:hover{
	background-color: white;
	color: red;
}

.bottom-header{
    height: 72px;
    border-top: 1px solid #C5C5C5;
    background-color: #095197;
    box-shadow: 0px 5px 10px #003161;
}

.left-field{
	float: left;
	width: 33%;
}

.center-field{
	float: left;
}

.searchbar {
    display: block;
    float: left;
    max-width: 280px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}

.searchbar i {
    position: absolute;
    right: 15px;
    top: 0px;
    margin: 10px 0px;
    border-left: 1px solid rgba(103,103,103,0.7);
    padding: 5px 0px;
    padding-left: 8px;
    color: rgba(103,103,103,0.7);
    font-size: 20px;
}


.searchbar input {
    width: 100%;
    padding: 15px 10px;
}

.right-field{
	float: right;
}

.right-field img{
	padding: 0px;
}

.banner-text-box{
	color:  white;
	z-index: 99;
	padding:10px;
	width: 65%;
	left: 40px;
}

.banner-text-box h3{
	font-size: 50px;
	font-weight: bold;
	text-shadow: 2px 3px 10px black;
}

.boka-banner-text-box{
	color:  white;
	z-index: 99;
	padding:10px;
	position: absolute;
	top: 25%;
	width: 30%;
	left: 40px;
}

.boka-banner-text-box h3{
	font-size: 25px;
	text-transform: uppercase;
	text-shadow:0px 0px 15px black;
	font-weight: 700;

}

.booking-section{
	
}

.offers{
	/* background-color: white; */
}

.offer-wrap{
	width: 100%;
	overflow: auto;
}

.offer-item{
	width: 33%;
	float: left;

	color: white;
}

.item-wrap{
	margin: 15px;
		background-color: #0056a3;
}

.item-wrap a {
    padding: 10px 20px;
    background-color: white;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    display: inline-block;
}

.item-text {
    width: 80%;
    line-height: 1.6;
    margin: auto;
    display: block;
}

.item-text h3 {
    text-align: center;
}

.item-text p {
    margin: auto;
    /* padding: 20px 0px; */
    padding-bottom: 20px;
}

.item-img img {
    display: block;
    width: 100%;
    height: auto;
    height: 500px;
}

section{
	margin: 50px 0px;
	position: relative;
}

.banner{
	margin: 0px;
	position: relative;
	padding: 125px 0px;
	background-position: center;
	background-size: cover;
}
.banner-wrap{
	position: relative;
}

.banner img{
	width: 100%;
}

.btn{
	    color: white;
    display: inline-block;
    margin-top: 50px;
    padding: 15px 25px;
    background-color: #095197;
     box-shadow: 0 6px #0D4479;
    border-radius: 4px;
        position: relative;
    transition: none;
}

.banner-text-box a {
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #095197;
     box-shadow: 0 6px #0D4479;
    border-radius: 4px;
        position: relative;
    transition: none;

}

.banner-text-box a:hover{
	box-shadow: 0 4px #0D4479;
	top: 2px;
	text-decoration: none;
	color: white;

} 

.banner-text-box a:focus{
	text-decoration: none;

}


.dot{
	border:1px solid #0056a3;
	background-color: white;
	float: left;
	margin-right: 10px;
	width: 10px;
	height: 10px;
}

.dot-active{
	background-color: red;
}

.navigation-dots{
	position: absolute;
	right: 40px;
	top: 90%;
}



.welcome-text {
	float: left;
    width: 50%;
}

.welcome{
	padding-bottom: 100px;
}
.welcome h1{
	color: #0056a3;
	font-weight: 700;
}

.service{
	margin-top: 100px;
	margin-bottom: 0px;
	padding-bottom: 50px;
	background-color:rgb(227, 24, 55);
	box-shadow: 3px 0px 5px #E31837;
}

.service h1, .service h2, .service h3{
	padding-top: 20px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-bottom: 15px;
	border-bottom: 2px solid white;
}

.service-item {
	width: 33%;
	float: left;
	text-align: center;
}

.service-item img {
    max-height: 40px;
    display: block;
}

.service-wrap{
	overflow: auto;
	padding:50px;
}

/*BOKA*/

.boka-cont{
	position: relative;
}
.boka{
	position: relative;
	background-color: #0477e1;
	margin-bottom: 0px;
}
.boka-nav{
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	top: -34px;
}
.boka-nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.boka-nav ul li{
	float: left;
	padding: 10px 15px;
	width: 20%;
	margin: 0px 29px;
	background-color: #0477e1;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: white;
	font-size: 19px;
	text-align: center;
}

.boka-wrap{
	padding: 60px 0px;
	width: 80%;
	margin: auto;
}

.boka label{
	display: block;
	color: white;
}


.boka input{
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: none;
}

.boka input.red-btn{
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 90px;
	background-color: #DC002E;
	color: white;
}



.boka-field{
	width: 100%;

	margin: auto;
		margin: 50px 0px;
}

.welcome-text.boka-text h3 {
    color: #0477E1;
}

.welcome-boka{
	margin-bottom: 100px;
}

.owl-next {
    float: left;
    position: absolute;
    right: 35px;
    top: 50%;
    font-size: 50px;
    color: #E30613;
}

.owl-prev {
    float: left;
    position: absolute;
    left: 35px;
    top: 50%;
    font-size: 50px;
    color: #E30613;
}

.offers .owl-carousel .owl-item img {
    width: 50%;
    display: block;
    margin: auto;
}

.search-wrap{
	border: 1px solid rgba(220, 220, 220, 0.6);
	background-color: white;
	overflow: auto;
}

.search-title{
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding: 10px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.71);
}

.search-item-wrap {
    padding: 50px 25px;
    overflow: auto;
}

.welcome .container{
	position: relative;
}

.facebook-wrap {
	/*
    float: right;
    margin-top: 20px;
    */
    position: absolute;
    top: -200px;
    right: 20px;
}


.dropbtn {
    background-color: rgba(255,255,255,0.8);
    border:1px solid gray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn i {
    color: red;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 20px;
}

.dropbtn h5 {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 20px;
	float: left;
	padding:20px 15px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	border:1px solid gray;
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(177, 177, 177, 0.6);
    z-index: 9999;
    background-color: white;
    /* border:1px solid gray; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
       padding: 2px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:focus .dropdown-content, .dropdown:active .dropdown-content, {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

.tjanst{
	background-image: url('/html/img/banner2-op.jpg');
	background-size: cover;
	background-position: center;
	padding: 90px 0px;
}


.tjanst-desc {
    float: left;
    color: white;
    font-size: 26px;
    text-shadow: 0px 2px 10px black;
    margin-right: 35px;
}

.tjanst-desc h4{
	font-size: 25px;
	font-weight: bold;
}
/*FOOTER*/

footer{
	background-color: #0056a3; 
	overflow:auto;
	color: white;
}

.footer-info{
	padding: 30px 0px;
}

.footer-info p{
	margin: 0px;
}