ol,ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav li{
	float: left;
	padding: 10px 20px;
}


nav li a {
    color: #0020B1;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
}

nav li a:hover{
	color: red;
	text-decoration: none;
}
header{
	display: block;
	width: 100%;
	overflow: auto;
	background-image: url('/html2/img/logo-bak.jpg');
	margin-top: 20px;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

nav.main-nav {
    /* background-color: #0020B1; */
    /* overflow: auto; */
    /* width: 82%; */
    text-align: center;
}



nav ul{
	display: inline-block;
	margin: 0px;
	padding-top: 20px;
}


section {
    padding: 250px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.text-box {
    position: absolute;
    bottom: -213px;
    padding: 25px 50px;
    right: 0px;
    left: 0px;
    color: white;
    display: block;
    background-color: red;
    /* border: 2px solid rgba(245,0,48,1); */
    padding-bottom: 50px;
}


.text-wrap{
	width: 50%;
	margin: auto;
	display: block;
}



article.info-section {
    position: absolute;
    bottom: 0px;
    padding-top: 200px;
    left: 0px;
    right: 0px;
}

.topslant{
	width: 100%;
	height: 73px;
	position: absolute;
	left: 0px;
	top: 157px;
	background: #FF0000;
	-webkit-transform: skewY(2.5deg);
	-moz-transform: skewY(2.5deg);
	-ms-transform: skewY(2.5deg);
	-o-transform: skewY(2.5deg);
	transform: skewY(-1.8deg);
}



.logo {
    float: left;
    padding-left: 50px;
    /* width: 100%; */
    /* padding-top: 30px; */
    background-image: url('/html2/img/logo-bak.jpg');
}

.logo img{
	display: block;
}

.showcase{
	padding-top: 300px;
}

.showcase h2{
	text-align: center;
}

.boka {
	padding-top: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    background-color: rgb(227, 24, 55);
}


.service-wrap {
    overflow: auto;
    padding: 50px;
}


.service-item {
    width: 33%;
    float: left;
}

.service-item img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.boka h1, .boka h2, .boka h3 {
    padding-top: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}


footer{
	background-color: #0020B1;
}

.footer-wrap{
	padding: 20px 0px;
	color: white;
}



